<section class="bg-primari" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Condomínio Vila do Ouro
	</h2>
                <hr class="light">
                <p class="text-faded">
 A ASSOCIAÇÃO COMUNITÁRIA DOS PROPRIETÁRIOS DO BAIRRO VILA DO OURO  é uma sociedade de fins não lucrativos, fundada em 14/08/1989 com personalidade jurídica própria distinta dos seus associados ,constituída  por tempo indeterminado, com sede e foro na cidade de Nova Lima, Minas gerais, localizado na Rodovia MG- 30 no bairro Campo do Pires.
              </p>
              <p class="text-faded">
                Possui uma área de aproximadamente 600.000  m², um total de 258 lotes  com 100% das ruas pavimentadas. Totalmente cercado por tela, sansão do campo e cerca elétrica com alicerce debaixo da cerca, além das quadras de tênis, peteca, poliesportiva e um campo de futebol society,  via de caminhada , no Centro de Convivência. Possui dois poços artesianos.
              </p> 
              <p class="text-faded">
                <strong>MEIO AMBIENTE</strong> O  Vila do Ouro  é um residencial emoldurado por uma vasta área verde de preservação. Possui uma grande variedade de árvores e animais silvestres e uma lagoa.
              </p>
              <p class="text-faded">  
                 <strong>VALORES</strong> O Residencial Vila do ouro preza pela preservação do meio ambiente, segurança e qualidade de vida de seus associados, proporcionando aos seus moradores conforto e bem estar.
              </p>
            </div>
        </div>
    </div>
</section>
