<section class="bg-primari" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Condomínio Vila do Ouro</h2>
                <hr class="light">
                <p class="text-faded">
                	Inaugurada em setembro de 2003, por Tatiana Dieguez, a Tenda Árabe Studio de Danças Orientais se tornou uma escola referência artística para a produção e difusão das Danças Orientais Árabes, Ballet e Jazz. Com o crescimento e expansão da empresa, em 2012 surgiu à idéia de um Studio de Danças e Fitness com uma academia exclusiva para as mulheres. Nosso objetivo é proporcionar bem estar, qualidade de vida e saúde para todas as mulheres, num espaço aconchegante e feminino.
                </p>
            </div>
        </div>
    </div>
</section>
