    <section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contato conosco</h2>
                <hr class="primary">
                <p>Entre em contato, faça seu sonho virar realidade, e acompanhe nosso condomínio em nossas redes sociais.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
	                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
	                <p><a href="mailto:your-email@your-domain.com">viladoouro@yahoo.com.br</a></p>	
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
	                <i class="fa fa-instagram fa-3x sr-contact"></i>
	                <p><a href="https://www.instagram.com/">@viladoouro</a></p>	
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
	                <i class="fa fa-facebook fa-3x sr-contact"></i>
	                <p><a href="https://www.facebook.com//">viladoouro</a></p>	
	
	                <p></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
	                <i class="fa fa-whatsapp fa-3x sr-contact"></i>
	                <p>(31)99314-3808</p>
                </div>
            </div>
        </div>
    </div>
		<hr>
    <aside class="bg-dark">
		  <div class="container text-center">
          <div class="call-to-action">
              <p>Rua Safira, 432 - Vila do Ouro<br>
								 34012-180 Nova Lima - MG<br>
								<i class="fa fa-phone fa-1x sr-contact"></i> (31)3542-6984<br>
                                <i class="fa fa-phone fa-1x sr-contact"></i> (31)3541-8779
							</p>
          </div>
      </div>    
		</aside>
</section>
<section id="login">
	<%= render 'layouts/messages'%>		
    <div class="container">
        <div class="row">
          <div class="col-sm-4">
					</div>
          <div class="col-sm-4 text-center">
						<%= image_tag  "/images/logo1.png", :width => 170 %>		
							<%= yield %>												
					</div>
          <div class="col-sm-4">
					</div>
        </div>

    </div>
</section>
