<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><p class="text-warning">
							<%= image_tag  "/images/logo.png", :width => 70 %>
						</p></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Sobre</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Galeria</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contato</a>
                </li>
                <li>
                    <a class="page-scroll" href="#login">Área Restrita</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
				<br>
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Estamos esperando por vocês</h1>
            <hr>
        </div>
        <p class="">Um lugar tranquilo para se viver em família.</p>
        <a href="#about" class="btn btn-warning btn-xl page-scroll">Quem Somos</a>

    </div>
</header>
