<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
						<!-- foto 1-->				    
            <div class="col-lg-4 col-sm-6">
                <a href="/images/portfolio/fullsize/imagem1.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem1.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
														
                          </div>
                          <div class="project-name">

                          </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- foto 2     -->  
            <div class="col-lg-4 col-sm-6">
                <a href="/images/portfolio/fullsize/imagem2.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem2.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Portaria
                            </div>
                            <div class="project-name">
                                Portaria principal, acesso restrito com vigia e identificação ao entrar
                            </div>
                        </div>
                    </div>
                </a>
            </div>


						<!-- foto 3-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem3.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem3.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">

                          </div>
                          <div class="project-name">

                          </div>
                        </div>
                    </div>
                </a>
            </div>
						<!-- foto 4-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem4.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem4.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>
						<!-- foto 5-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem5.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem5.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>
						<!-- foto 6-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem6.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem6.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>
						<!-- foto 7-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem7.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem7.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>
						<!-- foto 8-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem8.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem8.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 9-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem9.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem9.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>
						
						<!-- foto 10-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem10.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem10.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 11-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem11.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem11.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 12-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem12.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem12.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 13-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem13.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem13.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 14-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem14.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem14.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 15-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem15.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem15.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 16-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem16.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem16.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 17-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem17.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem17.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 18-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem18.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem18.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 19-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem19.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem19.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 20-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem20.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem20.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 21-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem21.jpeg" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem21.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                          </div>
                          <div class="project-name">
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
        </div>

    </div>
</section>