<div class="row">
	<div class="col-lg-2 col-md-6 text-center">
		<div class="panel panel-default">
		  <div class="panel-heading"><strong>Segunda</strong></div>
		  <div class="panel-body">
				<table class="table">
					<tr>
						<td class="text-danger">
							<strong>17h</strong>
						</td>
						<td class="text-danger">
							<strong>Jump&Gap</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>18h</strong>
						</td>
						<td class="text-danger">
							<strong>Jump&Gap</strong>
						</td>						
					</tr>					
					<tr>
						<td class="text-danger">
							<strong>18h30</strong>
						</td>
						<td class="text-danger">
							<strong>Muay Thai</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>19h</strong>
						</td>
						<td class="text-danger">
							<strong>Funcional</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>20h</strong>
						</td>
						<td class="text-danger">
							<strong>Ballet Adulto</strong>
						</td>						
					</tr>										
				</table>
		  </div>
		</div>			
  </div>
	<div class="col-lg-2 col-md-6 text-center">
		<div class="panel panel-default">
		  <div class="panel-heading"><strong>Terça</strong></div>
		  <div class="panel-body">
				<table class="table">
					<tr>
						<td class="text-danger">
							<strong>7h30</strong>
						</td>
						<td class="text-danger">
							<strong>Zumba</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>17:10h</strong>
						</td>
						<td class="text-danger">
							<strong>Zumba</strong>
						</td>						
					</tr>					
					<tr>
						<td class="text-danger">
							<strong>18h</strong>
						</td>
						<td class="text-danger">
							<strong>Dança Ventre Infantil<br>(4 a 7 anos)</strong>
						</td>						
					</tr>										
					<tr>
						<td class="text-danger">
							<strong>18h10</strong>
						</td>
						<td class="text-danger">
							<strong>Zumba</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>19h10</strong>
						</td>
						<td class="text-danger">
							<strong>Zumba</strong>
						</td>						
					</tr>
				</table>
		  </div>
		</div>			
  </div>
	<div class="col-lg-2 col-md-6 text-center">
		<div class="panel panel-default">
		  <div class="panel-heading"><strong>Quarta</strong></div>
		  <div class="panel-body">
				<table class="table">
					<tr>
						<td class="text-danger">
							<strong>17h</strong>
						</td>
						<td class="text-danger">
							<strong>Jump&Gap</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>18h</strong>
						</td>
						<td class="text-danger">
							<strong>Jump&Gap</strong>
						</td>						
					</tr>					
					<tr>
						<td class="text-danger">
							<strong>18h30</strong>
						</td>
						<td class="text-danger">
							<strong>Muay Thai / <br>
											Dança do Ventre Juvenil<br>
											(8 anos)
								
							</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>20h</strong>
						</td>
						<td class="text-danger">
							<strong>Jazz Fit / <br>
											Dança Ventre Adulto							
							</strong>
						</td>						
					</tr>					
				</table>
		  </div>
		</div>			
  </div>
	<div class="col-lg-2 col-md-6 text-center">
		<div class="panel panel-default">
		  <div class="panel-heading"><strong>Quinta</strong></div>
		  <div class="panel-body">
				<table class="table">
					<tr>
						<td class="text-danger">
							<strong>7h30</strong>
						</td>
						<td class="text-danger">
							<strong>Zumba</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>17:10h</strong>
						</td>
						<td class="text-danger">
							<strong>Zumba</strong>
						</td>						
					</tr>					
					<tr>
						<td class="text-danger">
							<strong>18h10</strong>
						</td>
						<td class="text-danger">
							<strong>Zumba</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>18h30</strong>
						</td>
						<td class="text-danger">
							<strong>Ballet Infantil<br>
											(5 a 9 anos)
							</strong>
						</td>						
					</tr>										
					<tr>
						<td class="text-danger">
							<strong>19h10</strong>
						</td>
						<td class="text-danger">
							<strong>Zumba</strong>
						</td>						
					</tr>
				</table>
		  </div>
		</div>			
  </div>
	<div class="col-lg-2 col-md-6 text-center">
		<div class="panel panel-default">
		  <div class="panel-heading"><strong>Sexta</strong></div>
		  <div class="panel-body">
				<table class="table">
					<tr>
						<td class="text-danger">
							<strong>7h30</strong>
						</td>
						<td class="text-danger">
							<strong>Funcional</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>18h30</strong>
						</td>
						<td class="text-danger">
							<strong>Ballet Baby<br>
											(3 a 5 anos)
							</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>19h</strong>
						</td>
						<td class="text-danger">
							<strong>Funcional</strong>
						</td>						
					</tr>					
				</table>
		  </div>
		</div>			
  </div>
	<div class="col-lg-2 col-md-6 text-center">
		<div class="panel panel-default">
		  <div class="panel-heading"><strong>Sábado</strong></div>
		  <div class="panel-body">
				<table class="table">
					<tr>
						<td class="text-danger">
							<strong>9h</strong>
						</td>
						<td class="text-danger">
							<strong>Ballet Baby<br>
											(3 a 5 anos)
							</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>10h</strong>
						</td>
						<td class="text-danger">
							<strong>Zumba</strong>
						</td>
					</tr>					
					<tr>
						<td class="text-danger">
							<strong>11h</strong>
						</td>
						<td class="text-danger">
							<strong>Fit Dance</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>12h30</strong>
						</td>
						<td class="text-danger">
							<strong>Dança Ventre Iniciante</strong>
						</td>						
					</tr>																																									
					<tr>
						<td class="text-danger">
							<strong>13h</strong>
						</td>
						<td class="text-danger">
							<strong>Ballet Adulto</strong>
						</td>						
					</tr>
					<tr>
						<td class="text-danger">
							<strong>14h</strong>
						</td>
						<td class="text-danger">
							<strong>Forró 
							</strong>
						</td>												
					</tr>							
					<tr>
						<td class="text-danger">
							<strong>14h30</strong>
						</td>
						<td class="text-danger">
							<strong>Dança do Ventre							
							</strong>
						</td>						
					</tr>																
					<tr>
						<td class="text-danger">
							<strong>15h</strong>
						</td>
						<td class="text-danger">
							<strong>Forró 
							</strong>
						</td>												
					</tr>
				</table>
		  </div>
		</div>			
  </div>
</div>
